<!DOCTYPE html>
<html ng-app='ng-bundle-collection-example'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ng-bundle-collection-example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      body{
        width: 600px;
        margin: auto;
        padding: 30px;
      }
      .todos{
        padding-top: 30px;
      }
    </style>
  </head>
  <body ng-controller='TodosCtrl' ng-cloak>
    <script type="text/javascript" src='bower_components/angular/angular.js'></script>
    <script type="text/javascript" src='bower_components/lodash/lodash.js'></script>
    <script type="text/javascript" src='bower_components/restangular/dist/restangular.js'></script>
    <script type="text/javascript" src='dist/ng-bundle-collection.js'></script>
    <script type="text/javascript" src="js/example.js"></script>

    <div>
      <button ng-click='addTodo()' ng-disabled='todos.isLoading()'>Add Todo</button>
      <span ng-if='todos.isLoading()'>Loading...</span>
    </div>
    <div class='todos'>
      <div ng-repeat='todo in todos.arr'>
        {{todo.text}} <button ng-click='todo.remove()'>Remove</button>
      </div>
    </div>
  </body>
</html>